.connect_discord {
  display: flex;
  align-items: center;
  width: 600px;
}
.connect_discord__button {
  min-width: 200px;
  height: 30px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: white;
  background-color: #5865f2;
  border-radius: 5px;
  font-size: 20px;
}
.connect_discord__button__disabled {
  pointer-events: none;
}
.connect_discord__button:hover {
  cursor: pointer;
  opacity: 0.8;
}
.connect_discord__button__logo {
  height: 15px;
}

.connect_discord__button__text {
  color: white;
  margin-left: 10px;
}
.connect_discord__success {
  margin-left: 3px;
  font-size: 20px;
}
#confetti {
  position: absolute;
  width: 100vh;
  height: 100vh;
}
