@font-face {
  font-family: 'Korolev';
  src: local('Korolev'),url("./assets/Korolev/Korolev-Medium.otf") format('truetype');
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Korolev';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

.unselectable { 
  -webkit-user-select: none;
  -khtml-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
